MONGO_URI=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/<dbname>?appName=<appName>
GROUP_ID=<primary-whatsapp-group-id>@g.us
GROUP_IDS=<extra-whatsapp-group-id>@g.us,<another-extra-whatsapp-group-id>@g.us
INCIDENT_GROUP_ID=<extra-whatsapp-group-id>@g.us,<another-extra-whatsapp-group-id>@g.us
